/* General Reset */
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.search-bar input {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.profile-container {
    position: absolute;
    right: 2%;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    white-space: nowrap;
    min-width: 150px;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background-color: #f2f2f2;
}
.agency-intro {
    text-align: center;
   
}

.agency-intro h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}


/* Agency List Section */
.agency-list {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
}

.agency-list h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.agencies {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.agency-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    gap: 30px;
}

.agency-logo {
    width: 100px; /* 고정 크기 조정 */
    height: 100px; /* 고정 크기 조정 */
    max-width: 120px; /* 최대 너비 제한 */
    max-height: 120px; /* 최대 높이 제한 */
     /* 빈 공간을 채우기 위한 배경색 */
    display: block;
}

.agency-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.agency-info h3 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.agency-info p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .agency-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .agency-logo {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .agency-info h3 {
        font-size: 18px;
    }
    .agency-info p {
        font-size: 14px;
    }
}
